.container {
    max-width: 100%;
}
.sidebar {
    display: flex;
    flex-grow: 0.2;
    background-color: rgb(188, 29, 29);
    color: #2b253a;
    align-items: center;
    justify-content: center;
}
.footer {
    background-color: #2b253a;
    color: #c5c5c5;
}
.content {
    color: rgb(119, 103, 103);
    background-color: #c5c5c5;
}
