.dashboard {
    display: flex;
    flex-direction: column;
    height: 90vmax;
}

.header {
    display: flex;
    background-color: #2b253a;
    color: #c5c5c5;
}

.main {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    display: flex;
    flex-grow: 0.2;
    background-color: rgb(188, 29, 29);
    color: #2b253a;
    align-items: center;
    justify-content: center;
}
/* --------- Non-flexbox related styles --------- */
.content {
    display: flex;
    flex-grow: 0.8;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    color: #fff;
    background-color: #c5c5c5;
    border-radius: 0px;
    border: 0px solid #f5cc8b;
}
.footer {
    display: flex;
    background-color: #2b253a;
    padding: 1em;
    font-size: 1em;
    color: #c5c5c5;
    width: 100vh;
}

.error {
    color: #fc8181;
    font-size: 0.75rem;
    text-align: left;
    margin-top: 0.25rem;
}

button:disabled {
    opacity: 0.35;
}
input:invalid,
select:invalid,
textarea:invalid {
    border: 2px solid #ff7d87;
    box-shadow: none;
}

input.input-error,
select.input-error {
    border-color: #fc8181;
}
